
$text-color: #f9f9f9;
$background-color: #111111;


.App {
  text-align: center;
  text-decoration: none;
  background-color: $background-color;
  height: 100vh;


  
  .App-link {
    color: $text-color;
  }


}

